.text {
    font-size: 30px;
    position: absolute;
}

.text1 {
  margin: 660px 0px 0px 300px;
}

.text2 {
  margin: 305px 0px 0px 300px;
}

.text3 {
  margin: 1025px 0px 0px 300px;
}

.text4 {
  margin: 125px 0px 0px 300px;
}

.text5 {
  margin: 305px 0px 0px 300px;
}

.text6 {
  margin: 480px 0px 0px 300px;
}

.text7 {
  margin: 125px 0px 0px 300px;
}

.text8 {
  margin: 1025px 0px 0px 300px;
}
